<%- include("header") %>

<div class="navbar">
    <a class="logo aTag" href="/"><img class="logoImg" src="/Icons/unicorn.png"/> BlogyMania</a>
    <div id="all">
        <div class="toggle">
            ☰
        </div>
        <div class="subNav">
            <a href="/" class="aTag">Home</a>
            <a href="/compose" class="aTag">Compose</a>
            <a href="/<%= logged %>" class="aTag"><%= logged %></a>
            <a href="/ME" class="aTag" id="ME">ME</a>
        </div>
    </div>
</div>
<div class="container">
    <h3>Hi <%= username %>! 🖐</h3>
    <% docs.forEach((doc) => { %>
        <div class="sub">
            <img src="<%= doc.imgUrl %>" class="innerImg"/>
            <h2 class="innerContent"><%= doc.title %></h2>
            <p class="innerContent"><%= doc.content.slice(0,200) %>....<a href="/blogs/<%= doc.title %>" class="readMore">Read More</a></p>
        </div>
    <% }) %>  
</div>

<%- include("footer") %>