<%- include("header") %>

<div class="navbar">
    <a class="logo aTag" href="/"><img class="logoImg" src="/Icons/unicorn.png"/> BlogyMania</a>
    <div id="all">
        <div class="toggle">
            ☰
        </div>
        <div class="subNav">
            <a href="/" class="aTag">Home</a>
            <a href="/compose" class="aTag">Compose</a>
            <a href="/register" class="aTag">Register</a>
            <a href="/<%= logged %>" class="aTag"><%= logged %></a>
        </div>
    </div>
</div>
<div class="container">
    <img src="<%= image %>" alt="image" class="postImg"/>
    <h2><%= title %></h2>
    <p><%= content %></p>
    <a href="/" class="back">Back</a>
</div>


<%- include("footer") %>